@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary font-interface antialiased selection:bg-accent-subtle selection:text-accent-hover;
  }
}

@layer components {
  .subtle-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-accent focus:ring-opacity-50 transition-all duration-200;
  }
}
